# ===== Go =====
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
tmp/

# ===== Go modules =====
/vendor/

# ===== Air =====
/tmp/
.air/

# ===== Frontend  =====
node_modules
dist
dist-ssr
*.local

# ===== IDE =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
.env
.env.*
!.env.example

# ===== Logs =====
*.log
npm-debug.log*

# ===== Database (local) =====
*.db
*.sqlite
*.sqlite3

# ===== Coverage =====
coverage.out
